[submodule "build"]
	path = build
	url = https://github.com/thomaswhite/ununtu_build_image_apps.git
[submodule "2copy/home"]
	path = 2copy/home
	url = https://github.com/thomaswhite/ubuntu-bash-files.git
